/* Colors
#6D83F2
#6A98F0
linear-gradient(134deg, #6A98F0 0%, #4961DC 99%)
*/

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
:root {
	font-size: 62.5%;
	font-family: 'Montserrat', sans-serif;
}
.dark-mode {
	--color-bg: rgb(25, 25, 25);
	--color-primary: rgb(25, 25, 25);
	--color-secondary: rgb(48, 48, 48);
	--color-tertiary: rgb(80, 80, 80);
	--color-link-1: rgb(250, 250, 250);
	--color-link-2: rgb(250, 250, 250, 0.7);
	--color-toggle: rgb(25, 25, 25, 0.7);
}
.light-mode {
	--color-bg: rgb(250, 250, 250);
	--color-primary: rgb(250, 250, 250);
	--color-secondary: rgb(230, 230, 230);
	--color-tertiary: rgb(210, 210, 210);
	--color-link-1: rgb(25, 25, 25);
	--color-link-2: rgb(25, 25, 25, 0.7);
	--color-toggle: rgb(250, 250, 250, 0.7);
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: var(--color-bg);
	scroll-behavior: smooth;
}
a {
	color: var(--color-link-1);
}

.header {
	width: 100vw;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-secondary);
	position: fixed;
	z-index: 10;
}

.nav-bar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.5rem 10rem;
	font-size: 2rem;
	text-transform: uppercase;
}
.logo a #logo-img {
	display: inline-block;
	width: 2.5rem;
	font-size: 1rem;
}
.invert-img {
	filter: invert();
}
.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
}
.navigation__items {
	margin: 0 1rem;
	display: inline-block;
	background: linear-gradient(
		134deg,
		var(--color-link-1),
		var(--color-link-2)
	);
	-webkit-background-clip: text;
	color: transparent;
	transition: all 0.3s;
}
.navigation__items:hover {
	color: #4961dc;
}
.navigation__items:active {
	transform: scale(0.95);
}

#toggle {
	position: relative;
	display: block;
	width: 6rem;
	height: 3rem;
	background-color: var(--color-toggle);
	border-radius: 100px;
	cursor: pointer;
}
#toggle .indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 3rem;
	height: 3rem;
	background-color: var(--color-tertiary);
	border-radius: 50%;
	transform: scale(0.8);
	transition: 0.5s;
	font-style: normal;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-link-1);
}
#toggle.active .indicator {
	left: 3rem;
}

#home {
	background-color: var(--color-primary);
	min-height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	overflow: hidden;
}
.home__info {
	text-transform: uppercase;
	z-index: 7;
	margin-left: 20vw;
	display: inline-block;
	background: linear-gradient(
		134deg,
		var(--color-link-1),
		var(--color-link-2)
	);
	-webkit-background-clip: text;
	color: transparent;
}
.upper-intro {
	font-size: 2.7rem;
}
.my-name {
	font-size: 7rem;
	font-weight: 800;
}
.tag-below-name {
	font-size: 2.6rem;
	letter-spacing: 2.5px;
}
.resume {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 2rem 0;
}
.resume a:link,
.resume a:visited {
	display: inline-block;
	position: relative;
	padding: 1.3rem 3.5rem;
	background: linear-gradient(
		134deg,
		rgb(106, 152, 240) 0%,
		rgb(73, 97, 220) 99%
	);
	border-radius: 5px;
	font-size: 1.2rem;
	transition: all 0.3s;
	color: rgb(250, 250, 250);
}
.resume a:hover {
	backface-visibility: hidden;
	transform: scale(1.05);
}
.resume a:active {
	transform: scale(0.95);
}
.social-links {
	z-index: 7;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.social-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.social-block a {
	font-size: 3rem;
	color: #6a98f0;
	margin: 0 2rem;
	transition: all 0.3s;
}
.social-block a:hover {
	transform: translateY(-2px);
}
.social-block a:active {
	transform: scale(0.95);
}

.box-style-right {
	z-index: 5;
	position: absolute;
	top: -10rem;
	right: -40rem;
	transform: rotate(50deg);
	height: 100%;
	width: 60rem;
	background: linear-gradient(134deg, #6a98f0 0%, #4961dc 99%);
	border-radius: 5px;
	opacity: 0.7;
}
#about {
	background-color: var(--color-secondary);
	min-height: 90vh;
	transform: skewY(-5deg);
	position: relative;
	top: 7rem;
	display: block;
	text-align: center;
	z-index: 1;
}

.cancle-skewY {
	transform: skewY(5deg);
}

.heading-secondary {
	font-size: 3rem;
	display: inline-block;
	text-transform: uppercase;
	background: linear-gradient(
		134deg,
		var(--color-link-1),
		var(--color-link-2)
	);
	-webkit-background-clip: text;
	color: transparent;
	margin: 5rem 0;
}

.about-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5rem 20vw;
}

.my-img img {
	box-sizing: content-box;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin-right: 5rem;
	border: 5px solid rgb(250, 250, 250);
}
.my-about {
	display: inline-block;
	background: linear-gradient(
		134deg,
		var(--color-link-1),
		var(--color-link-2)
	);
	-webkit-background-clip: text;
	color: transparent;
	margin-left: 5rem;
	font-size: 2rem;
	font-weight: 500;
	line-height: 3rem;
	padding: 3rem 0;
}

.big-inverted-coma {
	font-size: 3rem;
}

#projects {
	background-color: var(--color-primary);
	min-height: 100vh;
	position: relative;
	top: 7rem;
	display: block;
	text-align: center;
}

.box-style-left {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	height: 120%;
	width: 60%;
	background: linear-gradient(134deg, #6a98f0 0%, #4961dc 99%);
	-webkit-clip-path: circle(60% at 0 50%);
	clip-path: circle(60% at -55% 50%);
	opacity: 0.7;
	/* z-index: 5;
	position: absolute;
	top: 20rem;
	left: -40rem;
	transform: rotate(50deg);
	height: 100%;
	width: 60rem;
	background: linear-gradient(134deg, #6a98f0 0%, #4961dc 99%);
	border-radius: 5px;
	opacity: 0.7; */
}

.project-list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10vw;
	flex-wrap: wrap;
	z-index: 1;
}

.shape-project {
	z-index: 6;
	height: 40rem;
	width: 30rem;
	background: linear-gradient(
		134deg,
		var(--color-secondary),
		var(--color-tertiary)
	);
	margin: 2rem;
	border-radius: 5px;
	transition: all 0.3s;
	box-shadow: 1px 1px 5px rgb(20, 20, 20, 0.4);
	opacity: 0.8;
	transform: translateZ(0);
	/* backface-visibility: hidden; */
}
.shape-project:hover {
	transform: scale(1.05);
}

.project-heading {
	text-transform: uppercase;
	font-size: 2.5rem;
	color: var(--color-link-1);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
}
.project-details {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	color: var(--color-link-1);
	height: 80%;
}
.project-summary {
	font-size: 2rem;
	margin: 0 2rem;
}
.project-links {
	font-size: 1.5rem;
	margin: 0 2rem;
}
.p-link-github,
.p-link-live {
	display: inline-block;
	background-color: rgb(73, 97, 220);
	padding: 10px 10px;
	border-radius: 5px;
	transition: all 0.3s;
	margin: 0 1rem;
	color: rgb(230, 230, 230);
	box-shadow: 1px 1px 5px rgb(20, 20, 20, 0.4);
}
.p-link-github:hover,
.p-link-live:hover {
	background-color: #6a98f0;
}
.p-link-github:active,
.p-link-live:active {
	transform: scale(0.95);
}
.project-preview-img {
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

#contact {
	background-color: var(--color-secondary);
	min-height: 100vh;
	position: relative;
	top: 5rem;
	transform: skewY(-5deg);
	text-align: center;
}
.contact-block {
	transform: skewY(5deg);
	z-index: 10;
	height: 60vh;
	margin: 0 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.thank-u-block-left {
	color: var(--color-primary);
	height: 100%;
	width: 30%;
	background: linear-gradient(134deg, #6a98f0 0%, #4961dc 99%);
	border-radius: 10px 0 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.contact-form {
	height: 100%;
	width: 70%;
	background-color: var(--color-tertiary);
	border-radius: 0 10px 10px 0;
}
.thank-u {
	color: rgb(250, 250, 250);
	text-transform: uppercase;
	font-size: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
}
.handshake {
	color: rgb(250, 250, 250);
	font-size: 10rem;
}
.text-1-5-rem {
	color: rgb(250, 250, 250);
	font-size: 1.5rem;
}

/* Form */

.form-box {
	position: relative;
	width: 100%;
}
.row50 {
	display: flex;
	gap: 1rem;
}
.row50 .input-box {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	width: 50%;
}
.row100 .input-box {
	width: 100%;
}
.input-box label {
	color: var(--color-link-1);
	margin-top: 1rem;
	font-size: 2rem;
	outline: none;
}
.input-box input {
	padding: 1rem;
	font-size: 2rem;
	outline: none;
	border: 1px solid rgb(0, 0, 0);
}
#theme {
	color: var(--color-link-1);
	cursor: pointer;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 2rem;
	transition: all 0.2s;
	width: 20px;
}
#theme:hover {
	transform: scale(1.1);
}
#theme:active {
	transform: scale(0.9);
}
